/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  background: #504297;
  padding-top: 1px;
}

#logo{max-width: 270px;}
#logo img{max-width: 100%;}
.rightheader{float: left; width:1009px;display:block;}
.top_header_banner{width:100%;display:block;}
.top_header_banner{text-align: center;}
.main{
  margin: 0 auto;
  background: #fff;
  border: 3px solid #504297;
  border-top-left-radius:0;
  border-top-right-radius:0;
  border-bottom-left-radius:0; 
  border-bottom-right-radius:60%;
}
.topText{text-align: center;}
.left{float: left;display:block; width:80%;}
.sidebar{width:20%; background:#504297; float:left;}
.clear{clear:both;line-height:0;height:0;}
.navigation{ margin: 0 auto; }
.navigation li{padding:5px 0;text-align: center;}
.navigation li a{text-transform: uppercase;border-left: 2px solid #fff;color:#fff !important;font-weight:bold; float:left;display:block;}
.navigation li:first-child a{border:0;}
ul.navbar-nav{background:#504297;padding:0 10px; border-radius: 30px;}
.slider{margin:0 auto; display: block;background:#ccc;height:231px;
  border-top-left-radius:0;
  border-top-right-radius:0;
  border-bottom-left-radius:0; 
  border-bottom-right-radius:0;}
.lfetbar{border-bottom:2px solid #504297;margin-bottom: 1rem; padding:0;}
.list{background:#f4f0f0;padding:0.5rem; border-radius:10px; margin-bottom:10px; }
.topText{color:#504297; font-size:1rem;}
.topText .topHeading{font-weight:bold;font-size:1.25rem;}
.topText .topHeading span{font-size:1.50rem;} 
.list .heading{color:#504297; text-align: center; border-bottom:2px solid #504297}
.list ul{list-style: none; margin-left: 5px;}
.listitem li{color:#504297;}
.row{padding-bottom:1.5rem;}
.content{ padding: 0 1rem;padding-right: 4.5rem; }
.content h4{font-size: 1rem;text-align: center; background:#f4f0f0; border-radius: 10px; line-height: 25px; color: #504297; font-weight: bold;}
.content p{font-size: 1rem;}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
.socialicon{margin-top: 1rem;}
.socialicon ul{list-style: none;padding: 0 5px;}
.socialicon li{display: inline-block;}

.searchForm{display:block;position: relative;}

.searchForm .fa{    
    padding: 0;
    margin: 0;
    position: absolute;
    top: 8px;
    width: 25px;
    border-right: 2px solid #ccc;
    padding-right: 25px;
    font-size: 25px;
    left: 2px;}
.searchForm .form-control{
      padding-left: 40px;
}
.sidebarSecond {}
.sidebarSecond h3, .sidebarThird h3{color:#fff; text-decoration:underline;font-size: 1rem;text-align: center;}
.sidebarSecond li,.sidebarSecond li a,.sidebarThird li,.sidebarThird li a{color: #fff;}
.sidebarThird{margin-top:2rem;}
footer{margin-top: 1rem;padding:0 2rem;}
.footerBlock{border-top:5px solid #fff; padding:2px 1rem;}
.copyrights{color:#fff;font-size:1rem;}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 15rem;
  background-color: #f4f0f0;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 15rem;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
}
